/* You can add global styles to this file, and also import other style files */
body {
  background-color: #222b45;
  font-family: monospace;
}
app-table {
  display: table;
  margin: auto;
  text-align: center;
  width: 50%;
}
